
* {
	
}


/* CABEÇALHO */
.App {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font: 12px;
}

.App-link {
  color: #61dafb;
}

.Banner1 {
	background-color: #2ecc71;
	height: 650px;
}


/* CORPO DO PROJETO */

.subt1 {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: flex-end;
  color: #34495e;
  font-size: 50px;
  padding-top: 1em;
  padding-bottom: 0,2em; 
  font-family: 'Pacifico'; 
}

.border {
  background-color: #2ecc71;
  margin-top: 5px;
  justify-content: flex-end;
  width: 250px;
  height: 5px;
  padding-bottom: 0,2em; 
  margin-left: 50px;
}

.QuemSomos {
  display: flex;
}

.qs {
  margin: 5%;
  width: 600px;
  height: 200px;
}

.qs-txt {
  font-size: 25px;
  margin-top: 0px;
}

/* Galeria */

.Banner2 {
  background-color: #34495e;
  height: 650px;
}

.subt2 {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: flex-end;
  color: #7f8fa6;
  font-size: 50px;
  padding-top: 1em;
  padding-bottom: 0,2em; 
  font-family: 'Pacifico'; 
}


.Cards {
  display: flex;
  margin: 10%;
  margin-top: 5px;
  justify-content: center;
}

.maps {
  width: 500px;
  height: 400px;
  margin: 10px;
}

.Mapas {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.map-1 {
  text-align: center;
  align-items: center;
}

.Label2 {
  font-size: 20px;
  font-family: "Patua One";
}

@media ( max-width: 1041px ) {
  .maps {
    width: 450px;
    height: 350px;
  }
}

@media ( max-width: 946px ) {
  .maps {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 953px) {
  .qs-txt {
    font-size: 23px;
    margin: 5%
  }
} 

@media (max-width: 900px) {
  .QuemSomos {
    flex-direction: column;
    align-items: center;

  }

  .qs-txt {
    font-size: 25px;
    margin: 5%
  }
}

@media (max-width: 850px) {
  .Cards {
    flex-direction: column;
    justify-content: center; 
  }

  .Banner2 {
    height: 120em;
  }

  .maps {
    width: 500px;
    height: 400px;
  }

  .Mapas {
    flex-direction: column;
  }
}

@media (max-width: 627px ) {
  .qs-txt {
    font-size: 18px;
    text-align: center;
    margin: 5%
  }
}

@media (max-width: 480px ) {
	.Banner1 {
		flex-direction: column;
	}

  .subt1 {
    text-align: center;
  }
}

